$font-stack: 'Raleway', sans-serif;

$primary-text-color: #545454;
$primary-bg-color: 355071;
$fail-color: #d21818;
$grade-a-color: #2b922b;
$grade-b-color: #66be1e;
$grade-c-color: #d7d72b;
$grade-d-color: #f3a616;


